h1 {
  color: brown;
  font-size: 40px;
}
body {
  background-color: aqua;
}
ul {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}
li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  font-size: 30px;
  list-style-type: none;
}
.container {
  margin: 200px 700px;
  align-items: center;
}
